<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Gestion des Ressources</title>
</head>
<body>
    <h1>Bienvenue sur la plateforme de gestion. Choisissez une section ci-dessous :</h1>
    <ul>
        <li><a href="/departements">Gérer les Départements</a></li>
        <li><a href="/etablissements">Gérer les Établissements</a></li>
        <li><a href="/prets">Gérer les Prêts</a></li>
        <li><a href="/users">Gérer les Utilisateurs</a></li>
        <li><a href="/clients">Gérer les Clients</a></li>
        <li><a href="/employees">Gérer les Employés</a></li>
    </ul>
</body>
</html>